<ion-view view-title="Add Friends">

<ion-content >
    <div class="list list-inset">
  <label class="item item-input">
    <i class="icon ion-search placeholder-icon"></i>
    <input type="text" placeholder="Name/Email/Location" ng-model="searchText">
  </label>
</div>
<ion-list>
      <ion-item class="item-avatar" ng-repeat="friend in friends | filter:{name:searchText}" ng-if='searchText' type="item-text-wrap" href="#">
        <img ng-src="{{friend.face}}">
        <h2>{{friend.name}}</h2>
<!-- 	    <ion-option-button class="button-positive"
	                       ng-click="addRequest(friend)">
	      Add
	    </ion-option-button> -->

   <a class="item-icon-right" href="#" ng-click="sendRequest(friend)" >
    <i class="icon ion-plus"></i>
  </a>
  	<!-- <a class="button button-icon icon ion-settings"></a> -->
      </ion-item>
</ion-list>

</ion-content>
</ion-view>
