<ion-view view-title="My Trip" ng-controller="tripCtrl">
    <ion-nav-buttons side="right">
        <a class="button button-icon icon ion-search" ng-click="toggleSearch()"></a>
        <a class="button button-icon icon ion-plus " href="#/app/newtrip"></a>
    </ion-nav-buttons>
    
    <ion-tabs class=" tabs-icon-top tabs-color-active-positive" >
        <!-- Dashboard Tab -->
        <ion-tab title="My Trip" icon-off="ion-android-car" icon-on="ion-android-car" on-select="hideSearch()">
            <ion-nav-view name="tab-dash">
                <div class="bar bar-subheader item-input-inset" ng-show="showHeader" >
                          <label class="item-input-wrapper">
                            <i class="icon ion-ios7-search placeholder-icon"></i>
                            <input type="search" placeholder="Search" ng-model="searchQuery">
                          </label>
                          <button class="button button-clear" ng-click="toggleSearch()">
                            Cancel
                          </button>
                </div>
                <ion-content ng-class="{'has-subheader': showHeader}">
                <ion-list ng-controller="mytripCtrl">
                    <ion-item ng-repeat="item in items|filter:searchQuery"
                    class="item-thumbnail-left">
                        <img ng-src="{{item.img}}">
                        <h2>{{item.title}}</h2>
                        <p>{{item.description}}</p>
                    </ion-item>
                </ion-list>
                </ion-content>
            </ion-nav-view>
        </ion-tab>

        <!-- Friends Tab -->
        <ion-tab title="My Favorites" icon-off="ion-ios7-heart-outline" icon-on="ion-ios7-heart" on-select="hideSearch()" >
            <ion-nav-view name="tab-friends" ng-controller="friendtripCtrl">
                <div class="bar bar-subheader item-input-inset" ng-show="showHeader">
                      <label class="item-input-wrapper">
                        <i class="icon ion-ios7-search placeholder-icon"></i>
                        <input type="search" placeholder="Search" ng-model="searchQuery">
                      </label>
                      <button class="button button-clear" ng-click="toggleSearch()">
                        Cancel
                      </button>
                </div>
                <ion-content ng-class="{'has-subheader': showHeader}">
                    <ion-list>
                    <ion-item ng-repeat="item in items| filter:searchQuery"
                    class="item-thumbnail-left" >
                        <img ng-src="{{item.img}}">
                        <h2>{{item.title}}</h2>
                        <p>{{item.description}}</p>
                    </ion-item>
                    </ion-list>
                </ion-content>    
            </ion-nav-view>
        </ion-tab>


        <!-- Account Tab -->
        <ion-tab title="My Shares" icon-off="ion-android-share-alt" icon-on="ion-android-share-alt" on-select="hideSearch()">
            <ion-nav-view name="tab-account">
            </ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>
