<ion-view view-title="Add a trip">

  <ion-content>
    <form >
      <div class="list">
        <label class="item item-input item-stacked-label">
          <span class="input-label">Title</span>
          <input type="text" style="margin-right:5px"ng-model="myTripsData.title">
        </label>
        <label  class="item item-input item-stacked-label">
          <span class="input-label">Description</span>
          <textarea style="height:60px" type="text" ng-model="myTripsData.description"></textarea>
        </label>
        <!-- <label class="item">
          <button class="button button-block button-positive" ng-click="addItems()">OK</button>
        </label> -->

        <!-- <label class="item">
          <button class="button button-block button-positive" type="submit" ng-click="showme=true;save(myTripsData)">Save</button>
        </label> -->
        <div class="item item-divider">Options</div>
        <div class="card" ng-click="addItinerary()">
          <a class="item item-text-wrap item-icon-left" style="color: #444 ;">
            <li class="ion-clipboard icon" data-pack="default" data-tags="write"></li>
              Itinerary
          </a>
        </div>
        <div class="card" >
          <a class="item item-text-wrap item-icon-left" href="/#/app/chatroom/24" style="color: #444 ;">
            <li class="ion-chatboxes icon" data-pack="default" data-tags="talk"></li>
              Chat Room
          </a>
        </div>
        <div class="card">
          
          <label for="file" ng-file-select ng-multiple="true" ng-model="files" class="item item-icon-left fileContainer" ng-file-change="upload($files)">
              <i class="icon ion-ios7-camera"></i>
              Click to upload
                <!-- <input id="file" type="file" ng-file-select ng-model="files" ng-accept="'*.jpg,*.png'" multiple onchange="angular.element(this).scope().uploadFile(this.files)"/>
 -->
            </label>
            <ion-toggle 
                    ng-model="autoUpload" 
                    ng-checked="autoUpload">
                 Auto upload
            </ion-toggle>
            
            <div class='item' ng-show="autoUpload">
            <label class="item item-input">
            <span class="input-label">Start Date</span>
            <input  type="date" ng-model="startDate" />
            </label>

            <label class="item item-input">
            <span class="input-label">End Date</span>
            <input  type="date" ng-model="endDate" />
            </label>
          </div>
        </div>

<!--         <div class="card" ng-show="autoUpload">

            <label class="item item-input">
            <span class="input-label">Start Date</span>
            <input  type="date" ng-model="startDate" />
            </label>

            <label class="item item-input">
            <span class="input-label">End Date</span>
            <input  type="date" ng-model="endDate" />
            </label>
        </div> -->
        <div class="card" ng-show="hasPhotos">
            <p >
                <img 
                    ng-repeat="photo in photos"
                    ng-src="{{photo}}"
                    style="width: 100px ; margin-right: 10px ;"
                    />
            </p>
        </div>


      </div>
    </form>

  </ion-content>
</ion-view>
