<ion-view view-title="Place Finder">
  <!-- <ion-content style="height:100%;width:100%"> -->
<ion-pane >
      <div class=" has-header item item-input" >
        
        <input type="text" placeholder="Search" id="searchbox" ng-model="searchQuery" ng-keyup="autoFill($event)" >
        <a class="button button-icon icon ion-search" ng-click="querySearch(searchQuery)"></a>
        <!-- <a class="icon ion-search placeholder-icon" style="margin-right:10px"></a> -->
      </div>
    <div data-tap-disabled="true"  class="has-header has-footer" id='map-canvas'  style="height:100%;width:100%"></div>
</ion-pane>


  <!-- </ion-content> -->
</ion-view>
