<ion-view title="ResetPassword">
    <ion-content ng-show="state.success" has-header="true" has-tabs="true" padding="true">
        <div class="list list-inset">
          <label class="item item-input">
            <input type="password" placeholder="New Password" ng-model='resetPwd.new_password'>
          </label>
          <label class="item item-input">
            <input type="password" placeholder="Confirm Password" ng-model='confirmPwd.pwd'>
          </label>
        </div>
        <button class="button button-small" ng-click='resetPwdFunc();'>
            Submit
        </button>
    </ion-content>
    <div class="assertive" ng-show="error.message">{{error.message}}</div>
</ion-view>
