<ion-view title="ResetPassword">
    <ion-content ng-show="!state.success" has-header="true" has-tabs="true" padding="true">
        <div class="list list-inset">
          <label class="item item-input">
            <input type="text" placeholder="New Password" ng-model='resetPWd.newPwd'>
          </label>
          <label class="item item-input">
            <input type="text" placeholder="Confirm Password" ng-model='confirmPwd'>
          </label>
        </div>
        <button class="button button-small" ng-click='resetPwd();'>
            Submit
        </button>
    </ion-content>
    <div class="assertive" ng-show="error.message">{{error.message}}</div>
</ion-view>
