<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Signup</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeSignup()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form name="form" novalidate>
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Your Name</span>
          <input style="width:50%" type="text" ng-model="signupData.name" required name="uName">
        </label>
        <label class="item item-input">
          <span class="input-label">Username</span>
          <input type="text" ng-model="signupData.username" required name="uUsername">
        </label>
         <label class="item item-input">
          <span class="input-label">Email</span>
          <input type="email"  ng-model="signupData.email_address" required name="uEmail" ng-model-options="{ debounce: 500 }">
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" ng-model="signupData.password" required name="uPwd">
        </label>
        <label class="item item-input">
          <span class="input-label">Repeat Your Password</span>
          <input type="password" ng-model="signupData.password_repeat" required name="uPwdRepeat" ng-model-options="{ debounce: 500 }">
        </label>
          
          
      <label class="item">
          <div>
            <!-- <div ng-show="form.uUsername.$touched || || || "> -->
              <div ng-show="form.uName.$touched && form.uName.$error.required">Tell us your name.</div>
              <div ng-show="form.uUsername.$touched&&form.uUsername.$error.required">Username is required</div>
              <div ng-show="form.uEmail.$dirty &&form.uEmail.$error.required">Tell us your email.</div>
            <div ng-show="form.uEmail.$dirty && form.uEmail.$error.email">This is not a valid email.</div>
             <div ng-show="form.uPwd.$touched && form.uPwd.$error.required">Password is missing</div>
             <div ng-show="form.uPwdRepeat.$touched&&form.uPwdRepeat.$error.required">Please repeat your password</div>
             <div ng-show="signupData.password_repeat &&(form.uPwd.$touched && form.uPwdRepeat.$touched && signupData.password!=signupData.password_repeat)">Two password has to be the same</div>
            <!-- </div> -->
            
          </div>
          <button class="button button-block button-positive" type="submit" ng-click="doSignup()">Sign Up</button>
      </label>
    </div>
     </form>
  </ion-content>
</ion-modal-view>