/* Empty. Add your own CSS if you like */
.ng-hide {
  /* this is just another form of hiding an element */
  display: block!important;
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.popover-backdrop.active {
 background-color: rgba(0, 0, 0, 0); 
}

#popoverr {
    width: 97%;
    height: 30%;
}

.pac-container {
    width: 10%;
}

input.ng-invalid.ng-touched {
    box-shadow: 0px 0px 3px red;
  -moz-box-shadow: none;
  }
input.ng-valid.ng-touched {
    box-shadow: 0px 0px 3px green;
  -moz-box-shadow: none;
  }

.fileContainer [type=file] {   
  opacity: 0 !important;
  position: absolute !important;
  left: 0 !important;
  right: 0 !important;
  top: 0 !important;
  bottom: 0 !important;
  width: 100% !important;
}

.item-divider-day {
  margin:auto;
}

.button-block-add {
   z-index: 100;
}